.card-wrap {
  width: 270px;
  height: 120px;
  padding: 2rem;
  margin: 0.5rem 1rem;
  color : #EEEEEE;
  background: rgb(0, 9, 44, 0.8);
  box-shadow: 0 8px 32px 0 rgb(0, 9, 44, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-edit-icon {
  /* position: absolute;
  top: 0.5rem;
  right: 0.5rem; */
  font-size: 1.2rem;
  cursor: pointer;
}

.card-edit-icon:hover {
  color: #FFF;
  font-size: 1.3rem;
}


.card-input {
  outline: none;
  background-color: transparent;
  border-width: 0px 0px 3px 0px;
  border-color: #eeeeee;

  color: #eeeeee;
  width: 70%;
}

