* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 20px;
}

button {
  height: 2rem;
  width: 6rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #00bcd4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

input {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #035a66;
  color: rgb(197, 215, 250);
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 1rem 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #035a66;
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
  border: 2px solid aliceblue;
  padding: 2rem 1rem;
  background-color: #97c4b8;
  border-radius: 10px;
}
